# misc
run_maze

# cppcheck
cpp_check.cppcheck
/cpp_check-cppcheck-build-dir

# Editors
.vscode
.DS_Store
/src/**/.DS_Store

# Building
/build
/.cache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
